<div>
  <div class="header-bar">
    <h1 class="header-h1">Code Trials</h1>
    <nav class="nav">
      <div class="header-nav">
        <i  class="header-btn fa fa-plus"
            aria-hidden="true"
            title="View Full List"
            ng-click="shownForm = !shownForm"></i>
      </div>
    </nav>
    </div>
      <section id="trial-form" class="view-form" ng-show="shownForm">
        <form name="new-trial-form" id="new-trial-form"
                                    ng-submit="$ctrl.addTrial();">
          <div>
            <h2>New Trial</h2>
            <input type="text"  id="formTitle"
                                name="formTitle"
                                class="add-form-items add-form-field"
                                placeholder="Title"
                                required="required"
                                ng-model="$ctrl.title">
            <input type="text"  id="formDesc"
                                name="formDesc"
                                class="add-form-items add-form-field"
                                placeholder="Description"
                                required="required"
                                ng-model="$ctrl.desc">
            <input type="text"  id="formUrl"
                                name="formUrl"
                                class="add-form-items add-form-field"
                                placeholder="URL"
                                required="required"
                                ng-model="$ctrl.url">
            <button class="add-form-items add-form-btn">SAVE</button>
          </div>
        </form>
      </section>
</div>
