<section id="trial-form" class="view-form hidden-form">
  <form name="new-trial-form" id="new-trial-form" ng-submit="addTrial()">
    <div>
      <h2>New Trial</h2>
      <input type="text" id="formTitle" name="formTitle" class="add-form-items add-form-field" placeholder="Title" required="required">
      <input type="text" id="formDesc" name="formDesc" class="add-form-items add-form-field" placeholder="Description" required="required">
      <input type="text" id="formUrl" name="formUrl" class="add-form-items add-form-field" placeholder="URL" required="required">
      <button class="add-form-items add-form-btn">SAVE</button>
    </div>
  </form>
</section>
