<div id="content">
  <section id="trial-list">
    <div>
      <div id="list-container">
        <ul>
          <trial-block  ng-repeat="trial in $ctrl.trials"
                        trial="trial"
                        active-trial="$ctrl.activeTrial"
                        update-trials="$ctrl.updateTrials"
                        remove-trial="$ctrl.removeTrial"
                        toggle-block="$ctrl.toggleBlock(id)"></trial-block>
        </ul>
      </div>
    </div>
  </section>
</div>
